body {
    padding: 32px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    /* margin-left: 10px; */
    font-size: 26px;
    font-weight: 600;
    font-style: bold;
    line-height: 1.5;
}

.description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 28px;
    /* font-weight: tăng độ đậm của chữ
    Do nhúng CSS của google font vào là 300 và 600
    nên khi font-weight: 400 thì nó sẽ nhận giá trị mặc định là 300
    Nếu chọn 700 thì giá trị nó chọn là 600 */
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background: #f8678a;
    border-radius: 2px;
}