/* Khi thêm float:left vào thì phải chỉnh định width ra */
.box-1{
    height: 300px;
    background-color: blue;
    margin-top: 100px;
    width: 100%;
    position: absolute;
}

.box-2{
    margin-top: 50px;
    height: 100px;
    background-color: pink;
    /* C1: dùng float */
    /* width: 100%;
    float: left; */

    /* C2: Dùng absolue */
    /* width: 98%; */
}

span{
    height: 100px;
    width: 100px;
    background-color: green;
}

.box-3{
    margin-right: 50px;
}

.box-4{
    margin-left: 100px;
}