.container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-items: start; */
    justify-content: space-around;
    /* justify-content: space-between; */
}

.container .item {
    background: orange;
    padding: 10px;
    border: 1px solid black;
}