.container {
    display: flex;
    background: orange;
    justify-content: space-evenly;
    align-items: flex-start;
}

.container .item {
    width: 30%;
    background: green;
    font-size: 24px;
}

.container .item:last-child{
    color: red;
    height: 200px;
}