.box {
    /* width: 100px; */
    height: 100px;
}

/* Khi sử dụng 2 thuộc tính margin đối đầu nhau ở 2 phần tử liền kề
thì sẽ bị vấn đề margin collapse */
.box-1 {
    background-color: yellow;
    margin-bottom: 100px;
    float: left;
    /* width: 100%; */
}

.box-2 {
    margin-top: 80px;
    background-color: red;
    /* width: 100%; */
    /* float: left; */
}